<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <!-- Renderização condicional de elementos HTML com diretiva "V-IF" -->
    <div id="app">
      <!-- v-if simples -->
      <button @click="showBalance = !showBalance">
        <span v-if="!showBalance">Exibir Saldo</span>
        <span v-if="showBalance">Ocultar Saldo</span>
      </button>
      <p>Saldo: <span v-if="showBalance">R$ {{balance}}</span></p>

      <!-- v-if e v-else -->
      Idade: <input type="text" id="idade" @blur="setAge()" />
      <br />
      <!-- precisam estar no mesmo nível de escopo-->
      <span v-if="age < 18">Menor de idade</span>
      <span v-else>Maior de idade</span>
      <br />

      <!-- 
        Quando um elemento HTML possui uma condição v-if para ser ou não exibido,
        entra na interpretação do Vue que esse elemento sequer será renderizado
        no arquivo DOM se a condição não for atendida, são simplesmente ignoradas.
      -->

      <!-- v-if, v-else-if e v-else -->
      Nota: <input type="text" id="grade" @blur="setGrade()" />
      <br />
      <span v-if="grade == ''">Digite uma nota</span>
      <span v-else-if="grade >= 6 && grade <= 10">Aprovado</span>
      <span v-else-if="grade >= 5 && grade < 6">Recuperação</span>
      <span v-else-if="grade >= 0 && grade < 5">Reprovado</span>
      <span v-else>Valor inválido</span>
    </div>
    <script>
      options = {
        el: "#app",
        data: {
          balance: 500.0,
          showBalance: true,
          age: 0,
          grade: 0,
        },
        methods: {
          setAge() {
            this.age = idade.value;
          },

          setGrade() {
            this.grade = grade.value;
          },
        },
      };

      const vue = new Vue(options);

      console.log(vue);
    </script>
  </body>
</html>
